* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.4;
  background-color: rgb(252, 247, 228);
}

main {
  margin-top: 1em;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2em;
}

.quotes-wrapper {
  margin-top: 20px;
}

.adv-time-logo {
  width: 350px;
}

.quotes-list {
  list-style-type: none;
}

.quotes-list .quote-item {
  border-radius: 15px;
  box-shadow: 5px 10px 12px #999999;
  font-size: 1.1em;
  margin-top: 1em;
  margin-left: 1em;
  background-color: #ffffff;

  display: flex;
  align-items: center;
}

.quote-item .character-image {
  margin: 5px 20px;
}

.quote-item .character-image img {
  width: 175px;
}

.quote-text {
  padding: 10px;
}